body {
background-color: aquamarine;
}

#score {
    margin-left: 30px;
    font-size: large;
    }

#timer {
        margin-left: 1100px;
        font-size: large;
        }
#drawingname {
color: blue;
}

h1 {
background-color: rgb(235, 122, 122);
}

#show_sketch {
float: right;
}